<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿削除ページ｜チャットボックス</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/5337858c9f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="header__flex">
            <div class="header__flex__left">
                <a href="/">
                    <h1>CHAT BOX</h1>
                </a>
            </div>
            <div class="header__flex__right">
                {{if ne .User nil}}
                <a href="/profile?id={{.User_log}}">{{.User}}さん</a>
                {{else}}
                <a href="/registration">新規登録</a>
                <a href="/login">ログイン</a>
                {{end}}
            </div>
        </div>
    </header>
    <main>
        <div class="back">
            <a href="/post?id={{.Id}}" class="fas fa-arrow-left"></a>
        </div>
        <div class="delete">
            {{if ne .Err ""}}
            <div class="delete__err">
                <p>{{.Err}}</p>
            </div>
            {{end}}
            <p>下記の投稿を削除して宜しいですか？</p>
            <div class="delete__post">
                <div class="delete__post__flex">
                    <p class="delete__post__flex__title">{{.User_name}}</p>
                    <span>{{.Date}}</span>
                </div>
                <p>{{nl2br .Text}}</p>
            </div>
        </div>
        <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{.Id}}">
            <div class="delete__button">
                <input type="submit" value="投稿削除">
            </div>
        </form>
    </main>
</body>
</html>